* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */
.header-oscuro {
    background-color: #371B58;
}

.contenedor-header {
    text-align: center;
    padding: 10px 0;
    color: white;
}

.header-titulo {
    font-size: 2.1rem;
    margin-bottom: 10px;
    font-weight: 600;
}

/* BOTON PERSONALIZADO */
.inputs-personalizados {
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    background-color: #7858A6;
    color: white;
    transition: background-color 0.2s;
}
/* FOCUS & HOVER */
.is-focus:focus, .is-hover:hover {
    background-color: #ac90d48d;
}

.opcion-de-personalizacion {
    background-color: #371B58;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    margin: 10px;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 8px;
    transition: background-color 0.2s;
}


/* PERSONALIZACION DE MEMES */
/* CONTENEDOR FLEXIBLE*/
.contenedor-flexible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #4C3575;
    height: 100vh;
}

.main-oscuro {
    background-color: #4C3575;
    height: calc(100vh - 122px);
    justify-content: center;
}

.tarjeta-meme {
    width: 620px;
    height: 620px;
    text-align: center;
    background-color: black;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-meme {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: 900;
    background-color: white;
    padding: 35px 20px;
}

.imagen-meme {
    width: 100%;
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.boton-descargar {
    font-size: 0.8rem;
    padding: 15px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.boton-descargar:hover {
    background-color: #1a641d;
}

.boton-descargar:focus {
    background-color: #1a641d;
}

/* PERSONALIZACION IMAGEN*/
/* POSICION ABSOLUTA*/

.is-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 15vw;
    background-color: #5B4B8A;
}

.apartado {
    color: white;
    padding: 20px;
}

.boton-responsive {
    background-color: #5B4B8A;
    position: absolute;
    right: 0;
    margin: 0 10px;
    display: none;
}

.apartado-titulo{
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}

h4 {
    font-size: 0.8rem;
    padding: 10px 0;
}

.url-imagen {
    padding: 8px;
    outline: none;
    width: 100%;
    cursor: text;
}

.contenedor-fondo-imagen {
    display: flex;
}

.contenedor-color {
    display: flex;
    align-items: center;
    background-color: #7858A6;
    padding: 8px 10px;
    margin-right: 15px;
    border-radius: 3px;
    width: 50%;
}

.filtro-color {
    margin-right: 5px;
    width: 25px;
    height: 27px;
}

input[type=color]::-webkit-color-swatch {
    border-radius: 100%;
    border: none;
}

.color {
    font-size: 0.75rem;
}

.filtro-opciones {
    color: white;
    padding: 8px 10px;
    width: 50%;
}

.filtros {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    padding: 5px 0;
}

.rango-filtro {
    appearance: none;
    height: 5px;
    margin: 8px 0;
    cursor: default;
}

.restaurar-filtros {
    padding: 8px 10px;
    font-size: 0.8rem;
    color: white;
    margin: 20px 0;
}


/* PERSONALIZACION TEXTO */

.oculto {
    display: none;
}

.personalizacion-texto {
    resize: vertical;
    width: 100%;
    cursor: text;
    padding: 8px;
}

.opcion-diferente {
    font-size: 0.6rem;
    margin-left: 5px;
}

.contenedor-sin {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.opciones-fuentes {
    width: 100%;
    cursor: default;
}

.contenedor-fuente {
    margin: 5px 0;
    display: flex;
}

.numero-fuente {
    width: 50%;
    cursor: text;
    padding: 8px;
}

.alineacion-fuente {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 8px;
}

.boton-alineancion {
    padding: 11px;
    background-color: #7858A6;
}

.fa-align-left, .fa-align-center, .fa-align-right {
    color: white;
}

.rango-filtro::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.contenedor-fila {
    display: flex;
}

.fondo {
    align-items: flex-start;
    width: 50%;
}

.texto-fondo, .texto-color {
    width: 25px;
    height: 27px;
    margin-right: 5px;
}

.contenedor-texto-color {
    width: 95%;
}

.contenedor-contorno {
    display: flex;
}

.contorno {
    background-color: #7858A6;
    font-size: 0.8rem;
    margin-right: 5px;
    padding: 11px;
}

.espaciado {
    padding: 11px;
    cursor: text;
    width: 100%;
}

.interlineado {
    padding: 11px;
    cursor: default;
    width: 100%;
}

/* MODO CLARO */

.header-claro {
    background-color: #BE9FE1;
}


.main-claro {
    background-color: #e3ddeb;
}

.apartado-claro {
    background-color: #C9B6E4;
}

.input-claro {
    background-color: #E1CCEC;
}

.texto-claro {
    color: #371B58;
}

.range-claro::-webkit-slider-thumb {
    background-color: #371B58;
}

/* ##################### RESPONSIVE ######################## */

/* ----- MOBILE ----- */
@media (max-width: 400px) {
    html {
        font-size: 11px;
    }

    .header-titulo {
        padding: 3px;
    }

    .opcion-de-personalizacion {
        font-size: 1.2rem;
        margin: 5px;
    }

    /* IMAGEN MEME */
    .main-oscuro {
        justify-content: space-evenly;
    }

    .tarjeta-meme {
        width: 90%;
        max-width: 350px;
        max-height: 300px;
        margin: 0;
    }

    .texto-meme {
        font-size: 1.8rem;
        padding: 5px;
        height: 10%;
    }

    .imagen-meme {
        height: 80%;
    }

    .boton-descargar {
        font-size: 1.2rem;
    }

    /* PERSONALIZACION IMAGEN*/
    .apartado {
        display: none;
        width: 100vw;
    }

    .boton-responsive {
        display: inline-block;
    }

    .contenedor-fondo-imagen {
        flex-direction: column;
    }

    .contenedor-color {
        width: 55%;
        max-width: 125px;
        margin-bottom: 5px;
    }

    .filtro-opciones {
        width: 55%;
        max-width: 125px;
    }
}

@media (min-width: 401px) and (max-width: 480px) {
    html {
        font-size: 11px;
    }

    .header-titulo {
        padding: 3px;
    }

    .opcion-de-personalizacion {
        font-size: 1.2rem;
        margin: 5px;
    }

    /* IMAGEN MEME */
    .tarjeta-meme {
        width: 90%;
        height: 400px;
    }

    .texto-meme {
        font-size: 1.8rem;
        padding: 5px;
        height: 8%;
    }

    .imagen-meme {
        height: 84%;
    }

    .boton-descargar {
        font-size: 1.2rem;
    }
    /* PERSONALIZACION IMAGEN*/
    .apartado {
        display: none;
        width: 100vw;
    }

    .boton-responsive {
        display: inline-block;
    }
}



@media (min-width: 481px) and (max-width:768px) {
    html {
        font-size: 14px;
    }

    .header-titulo {
        padding: 3px;
        font-size: 1.9rem;
    }

    .opcion-de-personalizacion {
        font-size: 1rem;
        margin: 2px;
    }

    /* IMAGEN MEME */
    .tarjeta-meme {
        width: 90%;
        max-width: 550px;
        height: 550px;
    }

    .texto-meme {
        padding: 20px;
    }

    .boton-descargar {
        font-size: 1rem;
    }
    /* PERSONALIZACION IMAGEN*/
    .apartado {
        display: none;
        width: 100vw;
    }

    .boton-responsive {
        display: inline-block;
    }
}

/* NO MAS APARTADO AL 100VW */

@media (min-width: 769px) and (max-width:1024px) {
    html {
        font-size: 14px;
    }

    .opcion-de-personalizacion {
        font-size: 1rem;
        margin: 2px;
    }

    /* IMAGEN MEME */
    .tarjeta-meme {
        width: 75%;
        max-width: 600px;
        height: 580px;
    }

    .boton-descargar {
        font-size: 1rem;
    }
    /* PERSONALIZACION IMAGEN*/
    .apartado {
        display: none;
        width: 260px;
    }

    .boton-responsive {
        display: inline-block;
    }
}

@media (min-width: 1025px) and (max-width:1200px) {
    html {
        font-size: 14px;
    }

    .opcion-de-personalizacion {
        font-size: 1rem;
        margin: 2px;
    }

    /* IMAGEN MEME */
    .tarjeta-meme {
        height: 600px;
    }

    .boton-descargar {
        font-size: 1rem;
    }
    /* PERSONALIZACION IMAGEN*/
    .apartado {
        display: none;
        width: 260px;
    }

    .boton-responsive {
        display: inline-block;
    }
}

@media (min-width: 1201px) and (max-width:1300px) {
    .apartado {
        display: none;
        width: 260px;
    }

    .boton-responsive {
        display: inline-block;
    }
}

@media (min-width: 1301px) and (max-width: 1730px) {
    .apartado {
        width: 260px;
    }
}
